.page-agenda section.agenda-days {
    margin-top: 300px;
}

.page-agenda section.agenda-days h2 {
    font-size: 60px;
    color: #fff;
    text-transform: inherit;
    letter-spacing: 12px;
}

.page-agenda section.agenda-days .see-spreadsheet {
    position: relative;
    top: -7px;
    left: 0;
    transform: translate(0, 0) scale(1);
}

.page-agenda section.agenda-days h3 {
    font-size: 30px;
    color: #370355;
    text-transform: inherit;
    letter-spacing: 3px;
    padding-left: 23px;
    margin-top: 11px;
}

.page-agenda section.agenda-days .days {
    margin-top: 36px;
}

.page-agenda section.agenda-days .days .item {
    /*display: inline-block;*/
    width: 377px;
    height: 88px;
    position: relative;
    border-radius: 58px;
    overflow: hidden;
    opacity: 0.39;
    transition: opacity .4s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--main-color-2020);
    background-color: transparent;
}

.page-agenda section.agenda-days .days .item span {
    color: var(--main-color-2020);
}

.page-agenda section.agenda-days .days .item.active,
.page-agenda section.agenda-days .days .item:hover {
    opacity: 1;
    background-color: #fff;
}

.page-agenda section.agenda-days .days .item:hover span {
    color: #000000;
}

.page-agenda section.agenda-days .days .item.active span {
    color: #000000;
}

.page-agenda section.agenda-days .days .item .img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .5s;
}

.page-agenda section.agenda-days .days .item.active .img,
.page-agenda section.agenda-days .days .item:hover .img {
    transform: scale(1.08);
}

.page-agenda section.agenda-days .days .item .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-71deg, rgba(255, 26, 114, 0.88) 0%, rgba(138, 17, 123, 0.63) 45%, rgba(170, 84, 234, 0.78) 100%);
}

.page-agenda section.agenda-days .days .item p {
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    color: #ffffff;
    font-size: 26px;
    font-family: "FiraGO-Book";
    text-align: center;
}

.page-agenda section.agenda-days .days .item h4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 33px;
    color: #ffffff;
    font-size: 34px;
    font-family: "FiraGO-SemiBold";
    letter-spacing: 1.02px;
    text-align: center;
    text-transform: inherit;
}

.page-agenda section.agenda-days .content {
    margin-top: 130px;
}

.page-agenda section.agenda-days .content .box {
    margin-top: 20px;
}

.page-agenda section.agenda-days .content .box .head .date {
    font-size: 20px;
}

.page-agenda section.agenda-days .content .box .head .date {
    font-family: "FiraGO-Book";
    padding-top: 8px;
    color: #fff;
}

.page-agenda section.agenda-days .content .box.purple .head .date {
    color: #370355;
}

.page-agenda section.agenda-days .content .box.pink .head .date {
    color: var(--main-color-2020);
    padding-top: 0;
}

.page-agenda section.agenda-days .content .box .head .title {
    font-size: 20px;
}

.page-agenda section.agenda-days .content .box .head .title {
    font-family: "FiraGO-Bold";
    color: var(--main-color-2020);
}

.page-agenda section.agenda-days .content .box .head .dark-title {
    color: #370355;
}

.page-agenda section.agenda-days .content .box.purple .head .title {
    color: #370355;
}

.breakEvent p {
    font-size: small;
    color: #ccc !important;
    font-weight: 100;
    padding-left: 30px;
}

.page-agenda section.agenda-days .content .box h5 {
    color: #370355;
    font-size: 22px;
    line-height: 24px;
    font-family: "FiraGO-Bold";
    text-transform: inherit;
    padding-left: 50px;
}

.stageName {
    text-align: left;
    font-size: 18px;
}


.page-agenda section.agenda-days .content .box h6 {
    color: #370355;
    font-size: 20px;
    line-height: 24px;
    font-family: "FiraGO-Book";
    text-transform: inherit;
    padding-left: 50px;
    margin-top: 6px;
}

.page-agenda section.agenda-days .content .box .text {
    color: #3e3941;
    font-size: 18px;
    line-height: 27px;
    margin-top: 9px;
    padding-left: 50px;
}

.page-agenda section.agenda-days .content .box .requirement {
    color: #626262;
    font-size: 16px;
    line-height: 27px;
    margin-top: 9px;
    padding-left: 50px;
    font-style: italic;
}

.page-agenda section.agenda-days .content.day-3 .box .text {
    margin-top: 0;
}

.page-agenda section.agenda-days .content .box .text a {
    display: inline;
    color: #0480db;
}

.page-agenda section.agenda-days .see-spreadsheet {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    letter-spacing: 1.8px;
    border-radius: 100px;
    border: 1px solid var(--main-color-2020);
    padding: 0 90px;
    color: var(--main-color-2020);
    font-family: "FiraGO-Bold";
    white-space: nowrap;
    margin-top: 30px;
    /*  position: absolute;
      top: 50%;
      left: 50%;*/
    /*transform: translate(-50%, -50%) scale(1);*/
    transform: scale(1);
    transition: color .5s, background-color .5s, transform .5s;
}

.page-agenda section.agenda-days .see-spreadsheet:hover {
    background-color: var(--main-color-2020);
    color: #fff;
    /*transform: translate(-50%, -50%) scale(1.1);*/
    transform: scale(1.1);
}

.page-agenda section.agenda-days .see-spreadsheet:hover {
    transform: translate(0, 0) scale(1.1);
}

.agenda {
    display: inline-block;
    width: 49.5%
}

.button-agenda {
    text-align: right;
}

.center-align {
    text-align: left;
}

/******************** Responsive Styles ********************/

@media (max-width: 1400px) {
    .agenda {
        display: inline-block;
        width: 49.5%
    }

    .button-agenda {
        text-align: right;
    }

    .center-align {
        text-align: left;
    }

    .page-agenda section.agenda-days {
        margin-top: 270px;
    }

    .page-agenda section.agenda-days h2 {
        font-size: 50px;
        letter-spacing: 8px;
    }

    .page-agenda section.agenda-days h3 {
        font-size: 28px;
        padding-left: 18px;
    }

    .page-agenda section.agenda-days .days .item {
        width: 310px;
        height: 72px;
    }

    .page-agenda section.agenda-days .days .item p {
        top: 20px;
        font-size: 24px;
    }

    .page-agenda section.agenda-days .days .item h4 {
        top: 33px;
        font-size: 32px;
    }

    .page-agenda section.agenda-days .content {
        margin-top: 100px;
    }

    .page-agenda section.agenda-days .content .box .head .date {
        font-size: 18px;
    }

    .page-agenda section.agenda-days .content .box .head .title {
        font-size: 18px;
    }

    .page-agenda section.agenda-days .content .box h5 {
        font-size: 20px;
        padding-left: 30px;
    }

    .stageName {
        text-align: left;
        font-size: 16px;
    }

    .page-agenda section.agenda-days .content .box h6 {
        font-size: 18px;
        padding-left: 30px;
        margin-top: 4px;
    }

    .page-agenda section.agenda-days .content .box .text {
        font-size: 16px;
        line-height: 25px;
        padding-left: 30px;
    }

    .page-agenda section.agenda-days .content .box .requirement {
        font-size: 14px;
        line-height: 25px;
        padding-left: 30px;
    }

    .page-agenda section.agenda-days .see-spreadsheet {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        padding: 0 70px;
    }
}

@media (max-width: 1140px) {
    .page-agenda section.agenda-days {
        margin-top: 180px;
    }

    .page-agenda section.agenda-days h2 {
        font-size: 30px;
        letter-spacing: 4px;
    }

    .page-agenda section.agenda-days h3 {
        font-size: 20px;
        letter-spacing: 1px;
        margin-top: 8px;
    }

    .page-agenda section.agenda-days .days .item {
        width: 208px;
        height: 80px;
    }

    .page-agenda section.agenda-days .days .item p {
        top: 13px;
        font-size: 20px;
    }

    .page-agenda section.agenda-days .days .item h4 {
        top: 27.5px;
        font-size: 24px;
    }

    .page-agenda section.agenda-days .content {
        margin-top: 80px;
    }

    .page-agenda section.agenda-days .content .box {
        margin-top: 16px;
    }

    .page-agenda section.agenda-days .content .box .head .date {
        font-size: 16px;
    }

    .page-agenda section.agenda-days .content .box .head .title {
        font-size: 16px;
    }

    .page-agenda section.agenda-days .content .box h5 {
        font-size: 18px;
        line-height: 22px;
    }

    .stageName {
        text-align: left;
        font-size: 20px;
    }

    .page-agenda section.agenda-days .content .box h6 {
        font-size: 16px;
        line-height: 22px;
    }

    .page-agenda section.agenda-days .content .box .text {
        font-size: 14px;
        line-height: 23px;
        padding-left: 30px;
    }

    .page-agenda section.agenda-days .content .box .requirement {
        font-size: 12px;
        line-height: 23px;
        padding-left: 30px;
    }

    .page-agenda section.agenda-days .see-spreadsheet {
        height: 54px;
        line-height: 54px;
        font-size: 16px;
        padding: 0 46px;
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {
    .page-agenda section.agenda-days {
        margin-top: 115px;
        margin-bottom: 70px;
    }

    .agenda {
        display: inline-block;
        width: 100%
    }

    .button-agenda {
        text-align: center;
    }

    .center-align {
        text-align: center;
    }

    .page-agenda section.agenda-days h2 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .page-agenda section.agenda-days h3 {
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-top: 6px;
        padding-left: 0;
    }

    .page-agenda section.agenda-days .days .item {
        width: 280px;
        height: 70px;
        margin-bottom: 26px;
    }

    .page-agenda section.agenda-days .days .item p {
        top: 17px;
        font-size: 24px;
    }

    .page-agenda section.agenda-days .days .item h4 {
        top: 27.5px;
        font-size: 32px;
    }

    .page-agenda section.agenda-days .content {
        margin-top: 20px;
    }

    .page-agenda section.agenda-days .content .box {
        margin-top: 20px;
    }

    .page-agenda section.agenda-days .content .box .head .date {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .page-agenda section.agenda-days .content .box .head .title {
        font-size: 18px;
    }

    .page-agenda section.agenda-days .content .box h5 {
        font-size: 20px;
        line-height: 24px;
        padding-left: 0;
        margin-top: 16px;
    }

    .stageName {
        text-align: left;
        font-size: 16px;
    }

    .page-agenda section.agenda-days .content .box h6 {
        font-size: 18px;
        line-height: 24px;
        padding-left: 0;
    }

    .page-agenda section.agenda-days .content .box .text {
        font-size: 16px;
        line-height: 25px;
        padding-left: 0;
    }

    .page-agenda section.agenda-days .content .box .requirement {
        font-size: 14px;
        line-height: 25px;
        padding-left: 0;
    }

    .page-agenda section.agenda-days .see-spreadsheet {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        padding: 0px 34px;
        letter-spacing: 1px;
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .page-agenda section.agenda-days .days .item h4 {
        top: 27.5px;
        font-size: 32px;
    }
}

@media (max-width: 575.98px) {
    .agenda {
        display: inline-block;
        width: 100%
    }

    .button-agenda {
        text-align: center;
    }

    .center-align {
        text-align: center;
    }

    .page-agenda section.agenda-days {
        margin-bottom: 50px;
    }
}
