@font-face {
  font-family: 'latina-ub';
  src: url('../fonts/Latina-UltraBold.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-b';
  src: url('../fonts/Latina-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-sb';
  src: url('../fonts/Latina-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-m';
  src: url('../fonts/Latina-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-l';
  src: url('../fonts/Latina-Light.ttf') format("truetype");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
body {
  background-color: #f4f4f4;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f4f4f4;
  z-index: 99;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  heght: 40px;
}
a {
  text-decoration: none;
}
*::-webkit-scrollbar-track {
  background-color: #fff;
}
*::-webkit-scrollbar {
  height: 8px;
  width:8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: 2px solid #fff;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
  border: 2px solid #fff;
  cursor: pointer;
}
.hidden {
  opacity: 0;
}
/* ----------------------- main layout */
  .app {
    position: relative;
    // display: inline-block;
    width: 100%;
    height: 100%;
    // min-width: 100%;
    white-space: nowrap;
  }
  nav {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    background-color: #43adb3;
    z-index: 3;
  }
  .content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    z-index: 2;
    white-space: normal;
    // max-width: 1024px;
    // margin: 0 auto;
    text-align: center;
    background: transparent url(../images/landscape.png) no-repeat;
    background-position: bottom;
    background-attachment: local;
    background-size: contain;

  }
  .content-container {
    // z-index: 67;
    position: relative;
  }
  .content-container > h1 {
    margin: 42px 0 25px;
    font: 30px latina-b;
    text-align: center;
  }
  [data-page='speakers'] .content-container > h1 {
    color: #0fb6ed;
  }
  [data-page='team'] .content-container > h1 {
    color: #f95068;
  }
  [data-page='partners'] .content-container > h1 {
    color: #4f4f8e;
  }
  [data-page='agenda'] .content-container > h1 {
    color: #fe2d43;
  }

  @media (min-width: 992px) {
    .app {
      min-height: 100%;
      overflow-y: auto;
      // background: transparent url(../images/landscape@2x.png) no-repeat;
      // background-size: contain;
      // background-position: bottom;
    }
    nav {
      position: relative;
      display: block;
      height: auto;
      // margin: 60px 0 0;
       margin: 120px 0 0;
      background-color: transparent;
      z-index: 1;
    }
    .content {
      display: block;
      overflow-y: auto;
      height: auto;
      // text-align: left;
    }
    .content-container {
      margin: 0 auto;
      max-width: 1008px;
      // max-width: 868px;
    }
    [data-page='speakers'] .content-container {
    }
    .content-container > h1 {
      margin: 100px 0 0 42px;
      text-align: left;
    }
  }


/* ----------------------- nav */

  nav ul {
    // width: 100%;
    padding: 85px 35px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    overflow-y: auto;

  }
  nav ul li {
    margin-bottom: 30px;
  }
  nav ul li a {
    font: 20px latina-l;
    color: #fff;
    cursor: pointer;
  }
  nav ul li a.active, nav ul li a:hover {
    opacity: .4;
  }
  nav .nav-toggle {
    position: absolute;
    top: 30px;
    right: -59px;
    width: 60px;
    height: 40px;
    background-color: #43adb3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 0px 0 10px;
    cursor: pointer;
  }
  nav ul li.live {
    order: 2;
  }
  nav ul li.live a {
    color: #f93232;
  }
  nav ul li.tickets {
    order: 1;
  }
  nav ul li.tickets a {
    font: 20px latina-b;
    color: #fff;
  }
  nav ul li a.tickets:hover {
    opacity: 1;
  }

  @media (min-width: 992px) {

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      width: auto;
      overflow-y: initial;
    }
    nav .nav-toggle {
      display: none;
    }
    nav ul li {
      margin-bottom: 10px;
    }
    nav ul li a {
      color: #4f4f8e;
      cursor: pointer;
    }
    nav ul li:not(:last-of-type):after {
      content: "|";
      display: inline-block;
      padding: 0 25px;
      font: 20px latina-l;
      color: #4f4f8e;
    }
    nav ul li.live {
      order: 1;
    }
    nav ul li.tickets {
      order: 2;
    }
    nav ul li.tickets a {
      font: 20px latina-b;
      background-color: #ff6f2d;
      color: #fff;
      padding: 6px 18px 4px;
      border-radius: 9px;
    }
  }

/* ----------------------- about */

  .content .intro, .content .schedule, .content .contact {
    padding: 0 10px;
  }

  .logo {
    position: relative;
    width: 100%;
    max-width: 294px;
    margin: 50px 0;
    z-index: 1;
  }
  .intro {
    opacity: 0;
  }
  .intro > h1 {
    font: 34px latina-ub;
    color: #4f4f8e;
    margin-bottom: 18px;
  }
  .intro > h2 {
    margin-bottom: 18px;
  }
  .intro > h2 a {
    font: 22px latina-l;
    color: #4f4f8e;
  }
  .intro > p {
    display: inline-block;
    max-width: 600px;
    font: 17px/32px latina-m;
    color: #70707f;
    margin-bottom: 36px;
  }
  .intro > p span {
    font: 16px latina-m;
    color: #4d4d66;
    margin: 0 5px;
  }
  @media (min-width: 1200px) {
    .logo {
      margin: 60px 0;
    }
    .intro > p {
      margin-bottom: 72px;
    }
    .schedule {
      margin-bottom: 52px;
    }
    .subscribe label {
      text-align: right;
    }
  }

/* ----------------------- schedule */

  .schedule {
    margin-bottom: 26px;
    opacity: 0;
  }
  .schedule li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
    margin-bottom: 20px;
  }
  .schedule li.day1 { }
  .schedule li.day2 { }
  .schedule li h3 {
    display: inline-block;
    font: 29px latina-ub;
    color: #4f4f8e;
    padding: 18px 40px;
    border-radius: 40px;
    margin-bottom: 12px;
  }
  .schedule li.day1 h3, .schedule li.day1 .info p { background-color: #fff9a3; }
  .schedule li.day2 h3, .schedule li.day2 .info p { background-color: #fff068; }

  .schedule li .info {
    max-width: 240px;
  }
  .schedule li.day2 .info {
    max-width: 360px;
  }
  .schedule li .info h4 {
    font: 21px latina-m;
    color: #4f4f8e;
    padding: 21px 25px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    white-space: nowrap;
  }
  .schedule li.day1 .info h4 { background-color: #0fcaed; }
  .schedule li.day2 .info h4 { background-color: #0fb9ed; }
  .schedule li .info p {
    font: 17px/25px latina-m;
    color: #4f4f8e;
    padding: 14px 30px 25px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 136px;
    text-align: left;
  }

/* ----------------------- subscribe */
  .subscribe {
    display: inline-block;
    margin-bottom: 25px;
  }
  .subscribe .mc-fields-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center;
  }
  .subscribe label {
    font: 15px latina-m;
    color: #70707f;
    text-align: left;
    margin:0 20px 10px 0;
  }
  .subscribe .email {
    font: 17px latina-m;
    color: #70707f;
    width: 200px;
    height: 40px;
    padding: 6px 25px;
    margin-right: 10px;
    border: 1px solid #4f4f8e;
    border-radius: 40px;
    outline: none;
    -webkit-transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -ms-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  .subscribe .email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #70707f;
  }
  .subscribe .email::-moz-placeholder { /* Firefox 19+ */
    color: #70707f;
  }
  .subscribe .email:-ms-input-placeholder { /* IE 10+ */
    color: #70707f;
  }
  .subscribe .email:-moz-placeholder { /* Firefox 18- */
    color: #70707f;
  }
  .subscribe .email:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4f4f8e;
  }
  .subscribe .email:focus::-moz-placeholder { /* Firefox 19+ */
    color: #4f4f8e;
  }
  .subscribe .email:focus:-ms-input-placeholder { /* IE 10+ */
    color: #4f4f8e;
  }
  .subscribe .email:focus:-moz-placeholder { /* Firefox 18- */
    color: #4f4f8e;
  }


  .subscribe .button {
    font: 20px latina-m;
    color: #ffe458;
    background-color: #4f4f8e;
    height: 40px;
    padding: 6px 25px;
    border-radius: 40px;
    outline: none;
    border: 0;
  }
  .subscribe .button:hover {
    background-color: #ff7632;
    color: #ffe458;
    cursor: pointer;
  }

  #mc_embed_signup .mc-field-group div.mce_inline_error {
    display: block;
    margin: 0;
    padding: 6px 0 0 14px;
    background-color: transparent;
    font: 14px latina-l;
    color: #e08383;
    text-align: left;
  }
  #mc_embed_signup .mc-field-group input.mce_inline_error {
    border-color: #e08383;
  }
  #mce-responses {
    display: inline-block;
    max-width: 600px;
  }
  #mce-responses .response {
    display: block;
    margin: 0;
    padding: 6px 0 0 14px;
    background-color: transparent;
    font: 14px latina-l;
    color: #e08383;
    text-align: left;
  }
  #mce-responses .response a {
    font: 14px latina-l;
  }

/* ----------------------- social */

  .social {
    // margin-bottom: 45px;
  }
  .social label {
    display: inline-block;
    font: 21px latina-m;
    color: #4f4f8e;
    text-decoration: none;
    // margin-bottom: 20px;
  }
  .social a {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  .social a i, .social-speakers a i, .social-team a i {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url(../images/social.svg) no-repeat;
  }
  .social a i.facebook { width: 24px; height: 24px; background-position: 0px -33px; }
  .social a i.twitter { width: 24px; height: 24px; background-position: -25px -33px; }
  .social a i.instagram { width: 24px; height: 24px; background-position: -50px -33px; }
  .social-speakers a i.facebook { background-position: 0px 0px; }
  .social-speakers a i.twitter { background-position: -17px 0px; }
  .social-speakers a i.instagram { background-position: -50px 0px; }
  .social-speakers a i.linkedin { background-position: -33px 0px; }
  .social-speakers a i.filler { background-position: -67px 0px; }
  .social-team a i.facebook { background-position: 0px -17px; }
  .social-team a i.twitter { background-position: -17px -17px; }
  .social-team a i.instagram { background-position: -50px -17px; }
  .social-team a i.linkedin { background-position: -33px -17px; }
  @media (min-width: 992px) {
    .social {
      // margin-bottom: 90px;
    }
  }
/* ----------------------- speakers */
  [data-page="speakers"] .talk-workshop {
    text-align: right;
    // margin-left: 42px;
    padding: 10px 30px 0;
    font: 16px/24px latina-l;
    color: #a3a3a3;
  }

  [data-page="speakers"] .talk-workshop img{
    margin-right: 1px;
  }

  [data-page="speakers"] img.talk{
    width: 9px;
  }

  [data-page="speakers"] img.workshop{
    width: 15px;
  }
  @media (min-width: 992px) {
    [data-page="speakers"] .talk-workshop {
      padding: 0;
      float: right;
    }
  }


/* ----------------------- partnership */

  .partnership {
    opacity: 0;
  }
  .partnership p {
    display: block;
    font: 18px latina-m;
    color: #8a8a9b;

  }
  .partnership p strong {
    display: block;
    font: 22px latina-ub;
    color: #944c68;
    margin-bottom: 20px;
  }
  .partnership p a {
    font: 18px latina-m;
    color: #454559;
  }
  [data-page="partners"] .partnership {
    margin: 60px 0 50px;
  }

/* ----------------------- partners */
  .partners .hashtag {
    display: block;
    font: 22px latina-ub;
    color: #944e68;
    // margin-top: 50px;
    // margin-bottom: 36px;
    text-align: center;
  }
  @media (min-width: 1200px) {
    .partners .hashtag {
      // margin-top: 140px;
    }
  }


/* ----------------------- footer */
  footer {
    margin-top: 30px;
    margin-bottom: 36px;
    opacity: 0;
  }
  footer > div {
    display: inline-block;
    margin: 20px 36px;
    // margin-top: 50px;
  }
  @media (min-width: 1200px) {
    footer {
      margin-top: 120px;
    }
  }
/* ----------------------- animation */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  .fadeIn1, .fadeIn2, .fadeIn3, .fadeIn4 {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-name: fadeIn;
  }
  .fadeIn2 { animation-delay: .2s; }
  .fadeIn3 { animation-delay: .4s; }
  .fadeIn4 { animation-delay: .7s; }

  #scene {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  }
  .circle[data-id="1"] { max-width: 28px; }
  .circle[data-id="2"] { max-width: 20px; }
  .circle[data-id="3"] { max-width: 60px; }
  .circle[data-id="4"] { max-width: 35px; }
  .circle[data-id="5"] { max-width: 40px; }
  .circle[data-id="6"] { max-width: 38px; }
  .circle[data-id="7"] { max-width: 41px; }
  /** Keyframes **/
  @keyframes toggleAndScale {
    0% {
      transform: scale(.6);
      opacity: 0;
    }
    35% {
      transform: scale(1);
      opacity: 1;
    }
    65% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.6);
      opacity: 0;
    }
  }
  /** Setup the Animations **/
  .circle {
    position: absolute;
    opacity: 0;
  }
  [data-animation="1"],
  [data-animation="2"],
  [data-animation="3"],
  [data-animation="4"],
  [data-animation="5"],
  [data-animation="6"],
  [data-animation="7"] {
    -webkit-animation: 5s toggleAndScale 1;
    -moz-animation: 5s toggleAndScale 1;
    -o-animation: 5s toggleAndScale 1;
    animation: 5s toggleAndScale 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    will-change: transform, opacity;
  }
  [data-animation="1"] { animation-delay: 0s; }
  [data-animation="2"] { animation-delay: 1s; }
  [data-animation="3"] { animation-delay: 2s; }
  [data-animation="4"] { animation-delay: 0s; }
  [data-animation="5"] { animation-delay: 1s; }
  [data-animation="6"] { animation-delay: 2s; }
  [data-animation="7"] { animation-delay: 0s; }

  @keyframes toggle {
    0% {
      opacity: 1;
    }
   100% {
      opacity: 0;
    }
  }
  .loader img {
    -webkit-animation: 2s toggle 0;
    -moz-animation: 2s toggle 0;
    -o-animation: 2s toggle 0;
    animation: 2s toggle 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

/* ----------------------- grid */

  .grid {
    padding: 24px 30px 0;
    text-align: center;
  }
  .grid .card {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 296px;
    max-width: 400px;
    margin: 0 auto 42px auto;
  }
  @media (min-width: 684px) {
    .grid .card {
      width: 50%;
      margin: 0 0 42px 0;
      box-sizing: border-box;
    }
    [data-page="speackers"] .grid .card .info {
      min-height: 456px;
    }
    [data-page="team"] .grid .card .info {
      min-height: 380px;
    }
    .grid .card:nth-of-type(2n+1) .info,
    .grid .card:nth-of-type(2n+1) .summary {
      margin-right: 12px;
    }
    .grid .card:nth-of-type(2n) .info,
    .grid .card:nth-of-type(2n) .summary {
       margin-left: 12px;
    }
    .grid .card .info {
      right: 0;
    }
  }

  @media (min-width: 992px) {
    .grid .card {
      width: 33.33%;
      margin: 0 0 42px 0;
      box-sizing: border-box;

    }
    .grid .card:nth-of-type(2n+1) .info,
    .grid .card:nth-of-type(2n+1) .summary {
      margin-right: 0;
    }
    .grid .card:nth-of-type(2n) .info,
    .grid .card:nth-of-type(2n) .summary {
       margin-left: 0;
    }
    .grid .card:nth-of-type(3n+1) .info,
    .grid .card:nth-of-type(3n+1) .summary {
      margin-right: 16px;
    }
    .grid .card:nth-of-type(3n) .info,
    .grid .card:nth-of-type(3n) .summary {
      margin-left: 16px;
    }
    .grid .card:nth-of-type(3n+2) .info,
    .grid .card:nth-of-type(3n+2) .summary {
      margin-right: 8px;
      margin-left: 8px;
    }
  }


  [data-page="speakers"] .grid .card {
    cursor: pointer;
  }
  .grid .info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px 0 32px;
    border: 1px solid rgba(189, 189, 189, 0.24);
    border-radius: 12px;
    background-color: #fff;
    height: 100%;
  }
  .grid .photo {
    padding: 0 54px;
    margin-bottom: 20px;
  }
  .grid .photo img {
    width: 100%;
    max-width: 160px;
    max-height: 160px;
    border-radius: 100%;
  }
  .grid .talk-icons{
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .grid .talk-icons img:nth-of-type(2){
    margin-left: 15px;
  }
  .grid .name {
    font: 20px latina-b;
    color: #3d3d3d;
    padding: 0 20px;
    white-space: nowrap;
  }
  .grid .position {
    font: 16px latina-l;
    color: #686868;
    padding: 0 20px;
    flex: 1;
    margin-top: 20px;
  }
  .grid .organization {
    font: 16px latina-sb;
    color: #3d3d3d;
    padding: 0 20px;
    flex: 1;
    margin-top: 5px;

  }
  .grid .country {
    font: 18px latina-l;
    color: #0FB6ED;
    padding: 0 20px;
    flex: 1;
    margin-top: 5px;
  }
  .grid .country:after {
    content:' ';
    display:block;
    border-top:1px solid #0FB6ED;
    margin: 20px auto 0;
    width: 75px;
  }
  .grid-social a {
    display: inline-block;
    margin: 38px 8px 0;
  }
  .grid .card.hover .name,
  .grid .card.hover .position,
  .grid .card.hover .grid-social,
  .grid .card.hover .country,
  .grid .card.hover .organization {
    display: none;
  }

  .grid .summary {
    // position: relative;
    display: none;
    // width: 100%;
    padding: 0 20px 35px;
    border: 1px solid rgba(189, 189, 189, 0.24);
    border-top-color: transparent;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1;
    background-color: #fff;
    font: 16px/21px latina-l;
    color: #6D6D6D;
    text-align: left;
    margin-top: -1px;
  }
  .grid .summary div:not(.close) {
    overflow: auto;
    height: 100%;
    font: 16px/21px latina-l;
    color: #6D6D6D;
  }
  .grid .summary .close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    padding: 0;
  }
  .grid .card.hover {
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .grid .card.hover .info {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .grid .card.hover .summary {
    display: block;
  }

  @media (min-width: 684px) {
    // .grid {
    //   padding: 24px 0 0;
    // }
    .grid .card.hover .name, .grid .card.hover .position, .grid .card.hover .grid-social,
    .grid .card.hover .country, .grid .card.hover .organization  {
      display: block;
    }
    .grid .info {
      border: 1px solid rgba(189, 189, 189, 0.24);
      border-radius: 12px;
    }
    .grid .summary {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 50px 7px 50px 27px;
      border: 1px solid rgba(189, 189, 189, 0.24);
      /*border-left-color: transparent;*/
      border-radius: 12px;
/*      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
*/    }
    .grid .summary div {
      padding: 0 20px 0 0;
    }
    .grid .summary::-webkit-scrollbar-track {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .grid .summary::-webkit-scrollbar-thumb {
      border-radius: 12px;
    }
    .grid .card.hover .info {
      border-radius: 12px;
      border-bottom: 1px solid rgba(189, 189, 189, 0.24);
    }
  }

/* ----------------------- grid */
  .list {
    padding: 0 30px;
    margin-top: 60px;
  }
  .space {
    margin-bottom: 75px;
  }
  .list-category {

    // text-align: left;
  }
  .list-category h2 {
    font: 25px latina-b;
    color: #4f4f8e;

    margin-top: 75px;
  }
  .list-category:first-of-type h2 {
    margin-top: 0;
  }
  .list-category h2 span {
    display: inline-block;
    padding: 0 10px;
  }
  .list-category ul {
    text-align: center;
    // margin-left: 50px;
    // margin-bottom: 32px;
  }
  .list-category ul li {
    margin: 45px 0 0;
    vertical-align: middle;
  }
  .list-category ul li:first-of-type {
    margin-left: 0;
  }
  .list-category ul li:last-of-type {
    margin-right: 0;
  }
  .list .list-category img {
    max-width: 200px;
  }
  @media (min-width: 992px) {
    .list {
      padding: 0;
    }
    .list-category ul {

    }
    .list-category ul li {
      display: inline-block;
      margin: 45px 30px 0;
    }
  }
