@font-face {
  font-family: 'latina-ub';
  src: url('../fonts/Latina-UltraBold.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-m';
  src: url('../fonts/Latina-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'latina-l';
  src: url('../fonts/Latina-Light.ttf') format("truetype");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
.hidden {
  opacity: 0;
}
.app {
  position: relative;
  text-align: center;
  min-height: 100%;
  overflow: hidden;
  /*   background: transparent url(../images/landscape.png) no-repeat;
  background-size: contain;
  background-position: bottom; */
}
.content {
  padding: 0 10px;
}
.logo {
  width: 100%;
  max-width: 416px;
  margin: 50px 0;
}
.intro {
  opacity: 0;
}
.intro > h1 {
  font: 34px latina-ub;
  color: #4f4f8e;
  margin-bottom: 18px;
}
.intro > h2 {
  font: 34px latina-l;
  color: #4f4f8e;
  margin-bottom: 18px;
}
.intro > p {
  display: inline-block;
  max-width: 600px;
  font: 17px/32px latina-m;
  color: #70707f;
  margin-bottom: 36px;
}
.intro > p span {
  font: 16px latina-m;
  color: #4d4d66;
  margin: 0 5px;
}

/* ----------------------- schedule */

  .schedule {
    margin-bottom: 26px;
    opacity: 0;
  }
  .schedule li {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
    margin-bottom: 20px;
  }
  .schedule li.day1 { }
  .schedule li.day2 { }
  .schedule li.day3 { }
  .schedule li h3 {
    display: inline-block;
    font: 29px latina-ub;
    color: #4f4f8e;
    padding: 18px 40px;
    border-radius: 40px;
    margin-bottom: 12px;
  }
  .schedule li.day1 h3, .schedule li.day1 .info p { background-color: #fff9a3; }
  .schedule li.day2 h3, .schedule li.day2 .info p { background-color: #fff068; }
  .schedule li.day3 h3, .schedule li.day3 .info p { background-color: #ffe458; }

  .schedule li .info {
    max-width: 240px;
  }
  .schedule li .info h4 {
    font: 21px latina-m;
    color: #4f4f8e;
    padding: 21px 56px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .schedule li.day1 .info h4 { background-color: #0fcaed; }
  .schedule li.day2 .info h4 { background-color: #0fb9ed; }
  .schedule li.day3 .info h4 { background-color: #0faaed; }
  .schedule li .info p {
    font: 13px/25px latina-m;
    color: #4f4f8e;
    padding: 14px 30px 25px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 136px;
  }

/* ----------------------- subscribe */
  .subscribe {
    display: inline-block;
    margin-bottom: 25px;
  }
  .subscribe .mc-fields-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center;
  }
  .subscribe label {
    font: 15px latina-m;
    color: #70707f;
    text-align: left;
    margin:0 20px 10px 0;
  }
  .subscribe .email {
    font: 17px latina-m;
    color: #70707f;
    width: 200px;
    height: 40px;
    padding: 6px 25px;
    margin-right: 10px;
    border: 1px solid #4f4f8e;
    border-radius: 40px;
    outline: none;
    -webkit-transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -ms-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  .subscribe .email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #70707f;
  }
  .subscribe .email::-moz-placeholder { /* Firefox 19+ */
    color: #70707f;
  }
  .subscribe .email:-ms-input-placeholder { /* IE 10+ */
    color: #70707f;
  }
  .subscribe .email:-moz-placeholder { /* Firefox 18- */
    color: #70707f;
  }
  .subscribe .email:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4f4f8e;
  }
  .subscribe .email:focus::-moz-placeholder { /* Firefox 19+ */
    color: #4f4f8e;
  }
  .subscribe .email:focus:-ms-input-placeholder { /* IE 10+ */
    color: #4f4f8e;
  }
  .subscribe .email:focus:-moz-placeholder { /* Firefox 18- */
    color: #4f4f8e;
  }


  .subscribe .button {
    font: 20px latina-m;
    color: #ffe458;
    background-color: #4f4f8e;
    height: 40px;
    padding: 6px 25px;
    border-radius: 40px;
    outline: none;
    border: 0;
  }
  .subscribe .button:hover {
    background-color: #ff7632;
    color: #ffe458;
    cursor: pointer;
  }

  #mc_embed_signup .mc-field-group div.mce_inline_error {
    display: block;
    margin: 0;
    padding: 6px 0 0 14px;
    background-color: transparent;
    font: 14px latina-l;
    color: #e08383;
    text-align: left;
  }
  #mc_embed_signup .mc-field-group input.mce_inline_error {
    border-color: #e08383;
  }
  #mce-responses {
    display: inline-block;
    max-width: 600px;
  }
  #mce-responses .response {
    display: block;
    margin: 0;
    padding: 6px 0 0 14px;
    background-color: transparent;
    font: 14px latina-l;
    color: #e08383;
    text-align: left;
  }
  #mce-responses .response a {
    font: 14px latina-l;
  }


/* ----------------------- facebook */

  .facebook {
    display: block;
    font: 21px latina-m;
    color: #4f4f8e;
    margin-bottom: 45px;
    text-decoration: none;
  }

/* ----------------------- partnership */

  .partnership p {
    display: block;
    font: 18px latina-m;
    color: #8a8a9b;
    margin-bottom: 50px;
  }
  .partnership p strong {
    display: block;
    font: 22px latina-ub;
    color: #944c68;
    margin-bottom: 20px;
  }
  .partnership p a {
    font: 18px latina-m;
    color: #454559;
  }

/* ----------------------- partners */
  .partners .hashtag {
    display: block;
    font: 22px latina-ub;
    color: #944e68;
    margin-bottom: 36px;
  }
  .partners ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners ul li {
    margin: 0 50px 10px;
  }
  .partners ul li label {
    display: block;
    font: 18px latina-m;
    color: #70707f;
    margin-bottom: 8px;
  }
  .partners ul li a {
    display: block;
    font: 18px latina-ub;
    color: #4f4f8e;
    margin-bottom: 12px;
  }

/* ----------------------- animation */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  .fadeIn1, .fadeIn2, .fadeIn3, .fadeIn4 {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-name: fadeIn;
  }
  .fadeIn2 { animation-delay: .2s; }
  .fadeIn3 { animation-delay: .4s; }
  .fadeIn4 { animation-delay: .7s; }

/* ----------------------- media */

  @media (min-width: 1200px) {
    /*     body {
      background: transparent url(../images/scene.svg) no-repeat;
      background-position-y: -100%;
      background-position-x: 50%;
      background-size: 90%;
    } */
    .app {
      background: transparent url(../images/landscape@2x.png) no-repeat;
      background-size: contain;
      background-position: bottom;
    }
    .logo {
      margin: 100px 0;
    }
    .intro > p {
      margin-bottom: 72px;
    }
    .schedule {
      margin-bottom: 52px;
    }
    .subscribe label {
      text-align: right;
    }
    .facebook {
      margin-bottom: 90px;
    }
    .partnership p {
      margin-bottom: 140px;
    }
  }

/* ----------------------- animation */

  /** Keyframes **/
  @keyframes fallingFlake {
    0% {
      transform: translate(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    30% {
      transform: translate(1%, 30%);
    }
    50% {
      transform: translate(-1%, 50%);
    }
    80% {
      transform: translate(0%, 80%);
    }
    100% {
      transform: translate(2%, 0);
      opacity: 0;
    }
  }
  /** Setup the Animations **/
  .a1, .a2, .a3, .a4, .a5, .a6, .a7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: 40s fallingFlake infinite;
    will-change: transform, opacity;
  }
  .a1 { animation-delay: 0s; }
  .a2 { animation-delay: 5s; }
  .a3 { animation-delay: 10s; }
  .a4 { animation-delay: 15s; }
  .a5 { animation-delay: 20s; }
  .a6 { animation-delay: 1s; }
  .a7 { animation-delay: 6s; }
