<footer>
        <div class="partners" data-fade-id="4">
          <div class="hashtag">#DataFestTbilisi</div>
        </div>
        <div class="social">
          <label>Follow us on</label>
          <a class="facebook" href="https://www.facebook.com/DataFestTbilisi/" target="_blank"><i class="facebook"></i></a>
          <a class="twitter" href="twitter: https://twitter.com/DataFestTbilisi" target="_blank"><i class="twitter"></i></a>
          <a class="instagram" href="https://www.instagram.com/datafesttbilisi/" target="_blank"><i class="instagram"></i></a>
        </div>
        </footer>
