<div class="partners" data-fade-id="4">
          <div class="hashtag">#DataFestTbilisi</div>
          <ul>
            <li>
              <label>Organized by</label>
              <a href="https://forset.ge/en" target="_blank">ForSet</a>
              <a href="https://digicomnet.org/" target="_blank">DigiComNet</a>
            </li>
            <li>
              <label>Supported by</label>
              <a href="http://praguecivilsociety.org/" target="_blank">Prague Civil Society Centre</a>
            </li>
            <li>
              <label>Community Partner</label>
              <a href="https://www.meetup.com/Data-Science-Tbilisi/" target="_blank">Data Science Tbilisi</a>
            </li>
          </ul>
        </div>
