<nav>
      <div class="nav-toggle" id="navToggle">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
      </div>
        <ul>
          <li><a href="about"data-ruby-nav="about">ABOUT</a></li>
          <li><a href="agenda"data-ruby-nav="agenda">AGENDA</a></li>
          <li><a href="speakers"data-ruby-nav="speakers">SPEAKERS</a></li>
          <li><a href="partners"data-ruby-nav="partners">PARTNERS</a></li>
          <li><a href="team"data-ruby-nav="team">TEAM</a></li>
          <li class="live"><a href="http://rockit.digital/live/">• LIVE</a></li>
          <li class="tickets"><a href="https://tkt.ge/">TICKETS</a></li>
        </ul>
      </nav>
