<nav>
        <ul>
          <li><a href="about"data-ruby-nav="about">ABOUT</a></li>
          <li><a href="agenda"data-ruby-nav="agenda">AGENDA</a></li>
          <li><a href="speakers"data-ruby-nav="speakers">SPEAKERS</a></li>
          <li><a href="partners"data-ruby-nav="partners">PARTNERS</a></li>
          <li><a href="team"data-ruby-nav="team">TEAM</a></li>
          <li><a href="http://rockit.digital/live/">LIVE</a></li>
          <li><a href="https://tkt.ge/">TICKETS</a></li>
        </ul>
      </nav>
