<nav>
      <div class="nav-toggle" id="navToggle">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
      </div>
        <ul>
          <li class="logo no-pipe"><a href="home"data-ruby-nav="home__"><img src="./assets/images/datafest.png" /><div class="text-logo"><strong>DATAFEST</strong> TBILISI</div></a></li>
          <li><a href="speakers"data-ruby-nav="speakers__">SPEAKERS</a></li>
          <li><a href="partners"data-ruby-nav="partners__">PARTNERS</a></li>
          <li><a href="team"data-ruby-nav="team__">TEAM</a></li>
          <li class="tickets no-pipe"><a href="https://tkt.ge/en/event/datafest-tbilisi-93751" target="_blank">TICKETS</a></li>
        </ul>
      </nav>
