<div id="scene">
        <img class="circle" data-id="1" src="assets/images/a1.svg" />
        <img class="circle" data-id="2" src="assets/images/a2.svg" />
        <img class="circle" data-id="3" src="assets/images/a3.svg" />
        <img class="circle" data-id="4" src="assets/images/a4.svg" />
        <img class="circle" data-id="5" src="assets/images/a5.svg" />
        <img class="circle" data-id="6" src="assets/images/a6.svg" />
        <img class="circle" data-id="7" src="assets/images/a7.svg" />
        <img class="circle" data-id="8" src="assets/images/a1.svg" />
        <img class="circle" data-id="9" src="assets/images/a2.svg" />
        <img class="circle" data-id="10" src="assets/images/a3.svg" />
      </div>
